In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('usa_county_wise.csv')
df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
3,63072001,PR,PRI,630,72001.0,Adjuntas,Puerto Rico,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
4,63072003,PR,PRI,630,72003.0,Aguada,Puerto Rico,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0

In [4]:
df.Combined_Key.value_counts()

American Samoa, US        188
Crook, Oregon, US         188
Caddo, Oklahoma, US       188
Canadian, Oklahoma, US    188
Carter, Oklahoma, US      188
                         ...
Graves, Kentucky, US      188
Grayson, Kentucky, US     188
Green, Kentucky, US       188
Greenup, Kentucky, US     188
Weber-Morgan, Utah, US    188
Name: Combined_Key, Length: 3340, dtype: int64